<main>
  <section>
    <button type="button" {{on 'click' (fn (mut this._showComponent))}}>open component</button>

    {{#if this._showComponent}}
      <ClickOutside @onClickOutside={{fn (mut this._showComponent) false}}>
        click below to hide
      </ClickOutside>
    {{/if}}
  </section>

  <section>
    <button type="button" {{on 'click' (fn (mut this._showModifier))}}>open modifier</button>

    {{#if this._showModifier}}
      <div {{on-click-outside (fn (mut this._showModifier) false)}}>
        click below to hide
      </div>
    {{/if}}
  </section>
</main>